{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 120,
    "semi": false,
    "singleAttributePerLine": true
}
